In [61]:
# set up and libraries 
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

pd.options.display.max_columns = None

In [72]:
# read the data in 
act_df = pd.read_csv('data/activities.csv')

# do some data cleaning of the column names
act_df.columns = act_df.columns.str.lower()
act_df.columns = act_df.columns.str.replace(' ', '_')

# only select the columns I want 
df2 = (
    act_df
    .filter(regex = 'activity|distance|commute|time|speed|elevation|grade|temperature')
    .copy()
)
# make some new columns for the date and time
df2['year'] = pd.DatetimeIndex(df2['activity_date']).year
df2['month'] = pd.DatetimeIndex(df2['activity_date']).month

df2.drop(columns = list(df2.filter(regex='span_class')), inplace = True)

In [73]:
df2.head(1)

,activity_id,activity_date,activity_name,activity_type,activity_description,elapsed_time,distance,commute,activity_gear,elapsed_time.1,moving_time,distance.1,max_speed,average_speed,elevation_gain,elevation_loss,elevation_low,elevation_high,max_grade,average_grade,average_positive_grade,average_negative_grade,max_temperature,average_temperature,uphill_time,downhill_time,other_time,commute.1,grade_adjusted_distance,weather_observation_time,weather_temperature,apparent_temperature,wind_speed,sunrise_time,sunset_time,year,month
0,193358183,"12 Sep 2014, 08:15:15",Morning Ride,Ride,NaN,540,1.85,False,NaN,540.0,499.0,1853.599976,8.5,NaN,22.4708,NaN,29.5,52.599998,8.0,0.469357,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2014,9

In [78]:
(
    df2
    .groupby(['activity_type'])['activity_id']
    .count()
    .reset_index(name="count")
    .sort_values('count', ascending = False)
)

  activity_type  count
1          Ride    721
3          Walk    287
0          Hike     59
2           Run     10

In [77]:
# most popular activity each year
(
    df2
    .groupby(['activity_type', 'year'])['activity_id']
    .count()
    .reset_index(name="count")
    .sort_values(['year','count'], ascending = (True, False))
)

   activity_type  year  count
6           Ride  2014      1
7           Ride  2015     69
14           Run  2015      3
18          Walk  2015      2
8           Ride  2016     29
0           Hike  2016     10
9           Ride  2017     34
1           Hike  2017     25
15           Run  2017      2
10          Ride  2018    107
2           Hike  2018      3
11          Ride  2019    222
3           Hike  2019      7
19          Walk  2019      5
20          Walk  2020    237
12          Ride  2020    152
4           Hike  2020      9
16           Run  2020      2
13          Ride  2021    107
21          Walk  2021     43
5           Hike  2021      5
17           Run  2021      3