In [3]:
# set up and libraries 
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

pd.options.display.max_columns = None

In [8]:
# read the data in 
act_df = pd.read_csv('data/activities.csv')

# do some data cleaning of the column names
act_df.columns = act_df.columns.str.lower()
act_df.columns = act_df.columns.str.replace(' ', '_')

# only select the columns I want 
df2 = (
    act_df
    .filter(regex = 'activity|distance|commute|time|speed|elevation|grade|temperature')
    .copy()
)
# make some new columns for the date and time
df2['year'] = pd.DatetimeIndex(df2['activity_date']).year
df2['month'] = pd.DatetimeIndex(df2['activity_date']).month

df2.drop(columns = list(df2.filter(regex='span_class')), inplace = True)

In [10]:
(
    df2
    .groupby(['activity_type'])['activity_id']
    .count()
    .reset_index(name="count")
    .sort_values('count', ascending = False)
)

  activity_type  count
1          Ride    721
3          Walk    287
0          Hike     59
2           Run     10

In [14]:
# most popular activity each year
(
    df2
    .groupby(['activity_type', 'year'])['activity_id']
    .count()
    .reset_index(name="count")
    .sort_values(['activity_type','year','count'], ascending = (True,True,False))
)

   activity_type  year  count
0           Hike  2016     10
1           Hike  2017     25
2           Hike  2018      3
3           Hike  2019      7
4           Hike  2020      9
5           Hike  2021      5
6           Ride  2014      1
7           Ride  2015     69
8           Ride  2016     29
9           Ride  2017     34
10          Ride  2018    107
11          Ride  2019    222
12          Ride  2020    152
13          Ride  2021    107
14           Run  2015      3
15           Run  2017      2
16           Run  2020      2
17           Run  2021      3
18          Walk  2015      2
19          Walk  2019      5
20          Walk  2020    237
21          Walk  2021     43

In [29]:
df2.query("activity_type == 'Ride'").groupby('year')['distance'].agg(['sum','count'])

          sum  count
year
2014     1.85      1
2015  2238.77     69
2016   838.45     29
2017  1288.84     34
2018  2023.77    107
2019  4297.93    222
2020  3881.57    152
2021  1983.82    107

In [23]:
df2.query("activity_type == 'Ride'").groupby('year')['activity_id'].agg('sum')

year
2014       193358183
2015     23103391172
2016     17246012403
2017     36868062340
2018    194149884824
2019    548790833176
2020    549417258274
2021    602470695036
Name: activity_id, dtype: int64